* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.chat-side {
  width: 300px;
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &__box{
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      color: white;
      justify-content: space-between;
      font: bold;
      line-height: 20px;
      &__name__menu{
        display: flex;
        width: 60px;
        padding-left: 20px;
        li{
          text-align: right;
          a{
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}  

  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    a{
      text-decoration: none;
      color: #ffffff;
      .group{
        padding-top:20px; 
          &__name{
            font-size: 15px;
          }
          .group__message{
            font-size: 11px;
          }
      }
    }
  }

.chat-main {
  width: calc(100% - 300px);
  height: 100vh;
  background-color: #ffffff;
  .chat-main__header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__left{
      padding-left: 40px;
      &__current-group{
        padding-top: 35px;
        padding-bottom: 15px;
        color: #333333;
        font-size: 20px;
      }
      &__member-lists{
        display: flex;
        justify-content: space-between;
        color: #999999;
        font-size: 12px;
      } 
    }
    a{
      text-decoration: none;
      color: #38aef0;
      font-size: 16px;
      .chat-main__header__left__edit-btn{
        height: 40px;
        width: 72px; 
        margin: 28px 40px;
        border: solid 1px;
        border-color: #38aef0;
        line-height: 40px;
        text-align: center;
      }
    }
  }
  .messages {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px 0;
    overflow: scroll;
    .chat-main__messages{
      padding-bottom: 46px;
        &__info{
          display:flex; 
          margin-bottom: 12px;
        &__name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          margin-right: 10px;
        }
        &__date{
          color: #999999;
        font-size: 12px;
        }
      }
    }
  }
  .lower-message__content {
    font-size: 14px;
    margin-bottom: 10px;
  }


  .form {
    height: 90px;
    background-color: #d2d2d2;  
    padding:20px 40px;
    .new_message{
      display: flex;
      .input-box{
        position: relative;
        width: 100%;
        .form__message{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        .form__mico__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          fas{
            display: inline-block;
            font:normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
          }
          .hidden{
            display: none;
          }
        }
      }
      .form__submit{
        background-color: #38aef0;
        color: white;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}